body {
    font-family: 'Kosugi Maru', sans-serif;
    color: #666;
}

.hero-body {
    padding: 1.5rem;
}

h2.month {
    margin-bottom: 10px;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

h2.nextMonth {
    padding-top: .5rem;
}

.table tr th:nth-of-type(1),
.table tr td:nth-of-type(1) {
    color: #f14668;
    font-weight: 700;
    text-align: center;
    opacity: 0.25px;
}

.table tr th:nth-of-type(7),
.table tr td:nth-of-type(7) {
    color: #3298dc;
    font-weight: 700;
    text-align: center;
    opacity: 0.25px;
}

.table tr td.none {
    color: #aaa;
    text-align: center;
}

.table tr td.holiday {
    color: #f14668;
    font-weight: 700;
    text-align: center;
    /* opacity: 0.25px; */
}

.table tr td.today {
    text-decoration: underline;
    color: #F69;
}

.table tr td:hover {
    background-color: #3298dc;
    color: #fff;
}

.table td {
    text-align: center;
}

.time h2,
.txt h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.time ul li:hover {
    background-color: #3298dc;
    color: #fff;
}

.time ul {
    display: flex;
    flex-wrap: wrap;
}

.time ul li {
    width: 50%;
    text-align: center;
    color: #363636;
    /* border-bottom: 1px solid #dbdbdb; */
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.05rem;
}

.time ul li:last-child {
    width: 100%;
}

.time ul li .free{
    width: 100%;
    text-align: left;
}

.disabled {
    pointer-events:none;
}

.opa {
    opacity: .25;
}

.killListItem {
    background-color: #f6f6f6;
}

.killDOM {
    pointer-events: none;
}

textarea {
    padding: .5em;
    border: 1px solid #dbdbdb;
    width: 100%;
}

.selectedItem {
    background-color: #3298dc;
    color: #fff !important;
}

.alert {
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    float: right;
    clear: right;
}

.alert-red {
    color: white;
    background-color: #f14668;
}

.alert-blue {
    color: white;
    background-color: #3298dc;
}
